{% extends 'base.html.twig' %}

{% block title %}Les produits {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">

    </nav>
    <body style="background-color:#ebebeb;">
    </body>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .{ background: #ca8a8a; padding: 2px 6px; }
</style>


</div>
    <div style="margin-top: 10px ; display: flex">
            {% for produit in produits %}


            <div style="width: 15rem; text-align: center; font-family: cursive; cursor: pointer" onclick="location.href='{{ path("produits_show",{idproduit:produit.idproduits})}}'">
                <img src="{{ asset('images/'~produit.imgproduits) }}"
                 class="rounded img-fluid " alt="Ballon"><p>{{ produit.nomproduits }}</p>
            </div>

            {% endfor %}
        <!--<div style="width: 45rem; text-align: center; font-family: cursive">
            <img src="{{ asset('images/Ballon1.png') }}"
                 class="rounded img-fluid " alt="Ballon"><p>Ligue des Champions 2019/2020</p>
        </div>
        <div style="width: 45rem;text-align: center;font-family: cursive">
            <img src="{{ asset('images/Ballon2.png') }}"
                 class="rounded img-fluid " alt="Ballon"><p>Equipe de France champions du monde 2 étoiles</p>
        </div>
        <div style="width: 45rem;text-align: center;font-family: cursive">
            <img src="{{ asset('images/Ballon3.png') }}"
                 class="rounded img-fluid " alt="Ballon"><p>Coupe de France</p>
        </div>
        <div style="width: 45rem;text-align: center;font-family: cursive">
            <img src="{{ asset('images/Ballon4.png') }}"
                 class="rounded img-fluid " alt="Ballon"><p>Equipe d'Espagne</p>
        </div>
        <div style="width: 45rem;text-align: center;font-family: cursive">
            <img src="{{ asset('images/Ballon5.png') }}"
                 class="rounded img-fluid " alt="Ballon"><p>Nike PSG</p>
        </div>
        <div style="width: 45rem;text-align: center;font-family: cursive">
            <img src="{{ asset('images/Ballon6.png') }}"
                 class="rounded img-fluid " alt="Ballon"><p>Nike FC Barcelone</p>
        </div>-->


    </div>

    <footer style="margin-top: 10px; font-family: cursive">✔️ Produits de qualités reconnues. </footer>
{% endblock %}

