{% extends 'base.html.twig' %}

{% block title %}Les produits {% endblock %}

{% block body %}
    <body style="background-color: #ebebeb">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark"> </nav>

            <div id="parent2" style="display: flex; align-items: baseline; justify-content: space-evenly">
                <div>
                    <img src="{{ asset('images/' ~ produit.imgproduits) }}" style="width: 15rem">
                </div>
                <div>
                    <p><strong>Nom: </strong>{{ produit.nomproduits }}</p>
                </div>
                <div>
                    <p><strong>Taille: </strong>{{ produit.tailleproduits}}</p>
                </div>
                <div>
                    <p><strong>Prix: </strong>{{ produit.prixProduits }}€</p>
                </div>
                <div>
                    <p><strong>Description: </strong>{{ produit.descriptionProduits }}</p>
                </div>
            </div>

    </body>


{% endblock %}

